#### apply() function: The apply function allows modifying specific column values.

In [22]:
import pandas as pd  # pandas 라이브러리를 불러옵니다. (데이터 처리 및 분석을 위한 라이브러리)
# Import the pandas library for data manipulation and analysis.

In [23]:
import pandas as pd  # pandas 라이브러리를 불러옵니다. (데이터 처리 및 분석을 위한 라이브러리)
# Import the pandas library for data manipulation and analysis.

# 데이터프레임 생성
df = pd.DataFrame({
    "English": [85, 70],  # 'English' 과목 점수 리스트
    "Math": [100, 50]     # 'Math' 과목 점수 리스트
}, index=["Dave", "David"])  # 학생 이름을 인덱스로 설정

df  # 데이터프레임 출력
# Display the DataFrame.

       English  Math
Dave        85   100
David       70    50

In [1]:
# 함수 정의 1
# Define function 1
def myFunc(x):
    # 함수 myFunc 정의 (입력값 x를 받아 처리)
    # Define function myFunc that takes an input x

    print(type(x))
    # 입력값 x의 데이터 타입을 출력
    # Print the data type of x

    print(x.index)
    # x의 인덱스를 출력
    # Print the index of x

    print(x.values)
    # x의 값을 출력
    # Print the values of x

    return x
    # 입력값 x를 그대로 반환
    # Return the input x as it is

In [25]:
# 열 방향으로 데이터 적용 (위에서 아래로)
# Apply function column-wise (top to bottom)

df_func = df.apply(myFunc, axis=0)
# apply() 함수를 사용하여 myFunc 함수를 열(세로) 방향으로 적용
# Apply the function myFunc to the DataFrame along the columns (axis=0)

<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[85 70]
<class 'pandas.core.series.Series'>
Index(['Dave', 'David'], dtype='object')
[100  50]

In [2]:
# 행 방향으로 데이터 적용 (왼쪽에서 오른쪽으로)
# Apply function row-wise (left to right)

df_func = df.apply(myFunc, axis=1)
# apply() 함수를 사용하여 myFunc 함수를 행(가로) 방향으로 적용
# Apply the function myFunc to the DataFrame along the rows (axis=1)

NameError: name 'df' is not defined

In [27]:
# 함수 정의 2
# Define function 2

def myFunc2(x):
    x["English"] = 80  # "English" 컬럼의 값을 80으로 변경
    return x  # 변경된 데이터를 반환

In [28]:
# 행 방향으로 데이터 적용 (좌에서 우로)
# Apply the function row-wise (left to right)

df_func2 = df.apply(myFunc2, axis=1)  # 각 행에 대해 myFunc2 함수를 적용
df_func2  # 변경된 데이터프레임 출력

       English  Math
Dave        80   100
David       80    50

#### groupby() 함수 : 특정 컬럼을 기준으로 데이터를 그룹화하여 집계
#### groupby() function: Aggregates data based on a specified column

In [29]:
# pandas 데이터프레임 생성
# Creating a pandas dataframe

import pandas as pd

# 데이터프레임 생성
# Creating a dataframe with sample data
df = pd.DataFrame({
    "Sex" : ["M","F","M","F","M","F"],  # 성별 정보 (M: 남성, F: 여성) / Gender Information (M: Male, F: Female)
    "Name": ["Stark","Beyonce","Tony","Yohanson","Fury","Yohana"],  # 이름 / Names
    "Math": [100,80,60,90,70,85],  # 수학 점수 / Math scores
    "English":[90,80,85,75,100,95]  # 영어 점수 / English scores
})

# 데이터프레임 출력
# Displaying the dataframe
print(df)

  Sex      Name  Math  English
0   M     Stark   100       90
1   F   Beyonce    80       80
2   M      Tony    60       85
3   F  Yohanson    90       75
4   M      Fury    70      100
5   F    Yohana    85       95

In [30]:
# 그룹별 합계 계산
# Calculating the sum of numeric columns grouped by "Sex"

df.groupby("Sex").sum(numeric_only=True)

     Math  English
Sex
F     255      250
M     230      275

In [31]:
# 그룹별 합계 계산 후 2로 나누기
# Calculating the sum of numeric columns grouped by "Sex" and dividing by 2

df.groupby("Sex").sum(numeric_only=True) / 2

      Math  English
Sex
F    127.5    125.0
M    115.0    137.5

In [32]:
# 그룹별 평균 계산
# Calculating the mean of numeric columns grouped by "Sex"

df.groupby("Sex").mean(numeric_only=True)

          Math    English
Sex
F    85.000000  83.333333
M    76.666667  91.666667